/*ITIS 3135 Activity 2 css file*/

/*styling for the table goes here*/
body
{
	width: 750px;
	margin: 0 auto;
	background-color: #C0C0C0;
	color:black
}

table
{
	border-collapse: collapse;
	
	margin: 20px;
}

thead
{
	background-color: cyan;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .1em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: #FFD700;
}

.center{
	text-align:center;
}